[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tuna"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pymysql = "*"
deepseek = "*"
requests = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
